@media (max-width:939px){
	
	/* topo do site */
	.main-header {display: none;}
	
	.header_mobile{
		display: block;
		position: relative;
		background: #fff;
		border-bottom: 3px solid #BBA79E;
	}
	
	.header_mobile {
		display: block;
		position: relative;
		background: #fff;
		border-bottom: 3px solid #BBA79E;
	}

	.header_menu-item {width: 100%; margin: 5px 0; padding-left: 20px;}
	.header_menu-item:hover .header_menu-link {color: #3C3532; text-decoration: none; font-weight: bold;}
	
	.header_menu-link,
	.header_menu-link:visited { 
		color: #BBA79E;
		text-decoration: none;
		
		transition: all .3s ease-in-out;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
	}
	
	.header_menu-link:hover,
	.header_menu-link:focus {color: #fff;}

    .grid {
        width: 96%;
    }

    .logo {
        text-align: center;
    }

    .logo img {
        max-width: 50%;
    }

    .sacola {
        display: none;
    }

    .menu-opcoes {
        position: static;
        text-align: center;
    }

    .option-list {
        display: inline-block;
        margin: 5px;
    }

    .busca,
    .menu-departamentos,
    .destaque img {
        margin: 0 auto;
        width: 100%;
    }

    .painel {
        width: auto;  
        }
	
	.prateleira {
		flex-direction: column;
	}

    .painel li {
        width: 80%;  
        }
    
    .painel img {
        width: 100%;   
        }
	#familia-pelho { margin: 10px auto!important; float: none!important;}
	
	#centro-distribuicao {width: 100%!important; max-width: 100%; box-sizing: border-box;}
	
	#centro-distribuicao img {max-width: 100%;}
	
	.local {width: 100%;}
    
	footer .grid {
		position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
	}
	
	.social {position: initial;}
}

/*@media (min-width: 480px) {
    .logo {
        margin: 5px 0;
    }
    
    .menu-departamentos {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    .menu-departamentos nav > ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
   }
}

@media (min-width: 720px) {
    .logo {
        text-align: left;
    }
    
    .menu-opcoes {
        position: absolute;
    }
    
    .sacola {
        display: block;
    }
    
    .painel li {
        width: 15%;
    }
    
    .busca,
    .menu-departamentos {
        margin-right: 1%;
        width: 30%;
    }
    
    .menu-departamentos nav > ul {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
   }
    
   .destaque img {
    width: 69%;
   }


}*/