
@media (min--moz-device-pixel-ratio:0) {
  fieldset {
    display: table-column;
  }
}

.box{
    min-height: 500px;
}

.cores{
   position: relative;
    padding-top: 90px;
}

.cores label:after {
    content: '';
    display: block;
    
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    border: 6px solid rgba(0,0,0,0);
    transition: 1s;
    
    position:absolute;
    top: 30px;
    
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.cores label:hover:after {
    border: 6px solid rgba(0,0,0,1)
}

label[for=verde]:after {
    background-color: #33cc66;
    left: 0;
}

label[for=rosa]:after {
    background-color: #ff6666;
    left: 60px;
}

label[for=azul]:after {
    background-color: #6666ff;
    left: 120px;
}

.cores input:checked + label:after {
    border: 6px solid rgba(0,0,0,0.3);
}

.cores input[type=radio] {
    display: none;
}

.cores input:not(:checked) + label img {
    display: none;
}

.cores legend {
    position: absolute;
    top: 0;
    left: 0;
}

.cores label img {
    max-width: 100%;
    display: block;
}

.produto {
    color: #333;
    line-height: 1.3;
    margin-top: 2em;
}

.produto h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.produto p {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1em;
}

.produto legend {
    display: block;
    font: bold 0.9em/2.5 arial;
    text-transform: uppercase;
}

.comprar {
    background: #91bd3c;
    border: none;
    color: #333;
    
    font-size: 1.4em;
    text-transform: uppercase;
    
    box-shadow: 0 1px 3px #777;
    
    display: block;
    padding: 0.5em 1em;
    margin: 1em 0;
}

.detalhes {
    padding: 2em 0;
}

.detalhes h2 {
	font-size: 1.5em;
	line-height: 2;
	font-family: 'Open Sans', sans-serif;
}

.detalhes p {
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.5;
    max-width: 36em;
	font-family: 'Open Sans', sans-serif;
}

.tamanhos output {
    display: inline-block;
    height: 44px;
    width: 44px;
    
    line-height: 44px;
    text-align: center;
    
    border: 3px solid #666;
    border-radius: 50%;
    color: #555;
}

table {
    border-spacing: 0.2em;
    border-collapse: separate;
}

thead {
    background-color: #999;
}

thead th {
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;
}

td {
    padding: 0.3em;
}

tr:nth-child(2n) {
    background-color: #ccc;
}

td:first-child {
    font-style: italic;
}

.produto-back {
    background-color: #f2f2f2;
    margin-top: 1em;
    border-top: 2px solid #ccc;
}

.cores label img {
    border: 2px solid #ccc;
}

@media (min-width: 630px){
    
    .produto{
        position: relative;
        padding-left: 40%;
    }
    
    .cores {
        position:static;
        padding: 0;
    }
    
    .cores legend {
        position: static;
    }
      
    .cores label img {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 35%;
        max-height: 100%;
    }
    
    .cores label:after {
        position: static;
        float: left;
        margin-right: 10px;
    }
    
    .produto{
        font-size: 1.2em;
    }
    
    fieldset {
        display: inline-block;
        vertical-align: top;
        
        margin: 1em 0;
        min-width: 200px;
        width: 45%;
    }
}

@media (min-width: 500px){
    .detalhes {
        font-size: 1.2em;
    }
}
