body {
    color: #333333;
    font-family: 'PT sans', sans-serif;
}

.grid{
    margin: 0 auto;
    width: 1170px;
}
 

/*---------------------------------------------------------
--------------------inicio do cabeçalho--------------------
---------------------------------------------------------*/

.main-header {
	width: 100%;
	display: block;
	background: #Fff; 
}

.header_mobile {display: none;}

.logo {
	width: 225px;
}

.logo img {width: 100%; max-width: 100%;}

.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-top: 8px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
}


/*-- organização do menu do topo --*/

.header-top {
	width: 100%;
	padding: 5px 0;
	background: #FBE0D4;
}

.header-top .grid {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-opcoes ul {
	display: block;
	width: 100%;
}

.option-list {
	display: inline-block;
	font-size: 16px;
	color: #000;
}

.option-list a {
	font-size: 15px;
	color: #000;
	text-decoration: none;
	padding: 5px;
	margin-right:5px;
	font-family: 'Open Sans', sans-serif;
	transition: all .5s ease-in-out;
}

.option-list a:hover {
	color: #fff;
}
/*-- fim da organização do menu do topo --*/


.header-midle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.search {
	width: 320px;
	position: relative;
}

.search_text {
	width: 100%;
	height: 35px;
	padding-left: 8px;
	border-radius: 5px;
}

.search_text:focus {border: #000;}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.lupa {
	height: 25px;
	position: absolute;
	top: 5px;
	right: -27px;
}

/*-- organização do menu do principal --*/
.header-bottom {
	width: 100%;
	background: #FBE0D4;
	padding: 10px 0;
}

.main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-item-dep {position: relative;}

.list-item-dep:hover .sub-menu-dep {display: block;}

.sub-menu-dep{
	display: none;
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	z-index: 100;
	background: #fff;
	box-sizing: border-box;
	border-top: 4px solid #000;
	padding: 5px;
}

.list-item-dep .sub-menu-deplink {
	font-size: 1rem;
	font-weight: bold;
	display: block;
	padding: 8px 0;
	text-align: center;
	color: #000;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	transition: all .5s ease-in-out;
}

.list-item-dep .sub-menu-deplink:hover {
	color: #ccc;
}

.list-item-dep a {
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 15px 0;
	color: #000;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	transition: all .5s ease-in-out;
}

.list-item-dep a:hover {color: #fff;}



/*----------------------------------------------
--------------------fim do cabeçalho------------
----------------------------------------------*/



/*- - - - - - -banner de destaque - - - - - - - -*/

.destaque {
	margin: 0px;
	position: relative;
	width: 100%;
}

.destaque img {
	margin: 0px;
	width: 100%;
}

.pause,
.play {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
}

.pause {
    border-left: 10px solid #900;
    border-right: 10px solid #900;
    height: 30px;
    width: 5px;
}

.play {
    border-left: 25px solid #900;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}


.confira {
	padding: 100px 0;
	background: url('../img/fundo2.jpg') repeat fixed;
}

.confira_tit {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	padding: 15px 0;
	background: rgba(255,255,255, .8); 
}


/*-------------------------------------------------------
_________________________________________________________
painel de novidades e mais vendidos
---------------------------------------------------------
--------------------------------------------------------*/

.paineis{
	background: url('../img/bg-site.jpg') repeat;
	padding: 50px 0;
}

.painel {
    margin: 20px 0;
    padding: 40px 10px;
    width: 445px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #999;
}

.painel h2 {
    font-family: 'Bad Script', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 3px 3px 2px #fff;
}

.painel h2:before {
  content: '\2756';
  padding-right: 5px;
  opacity: 0.4;
}

.prateleira {
	display: flex;
	align-items: center;
	justify-content: center;
}

.painel a {
    display: block;
	height: 100%;
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
 
.painel li {
	display: inline-block;
	vertical-align: top;
	width: 22%;
	margin: 2px;
	padding-bottom: 10px;
	height: 300px;
	box-sizing: border-box;

	transition: 0.7s ease-out;
	-o-transition: 0.7s ease-out;
	-moz-transition: 0.7s ease-out;
	-ms-transition: 0.7s ease-out;
	-webkit-transition: 0.7s ease-out;
}

.painel li:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 5px #333;
    
    transition: box-shadow 0.7s ease-in;
    -o-transition: box-shadow 0.7s ease-in;
    -moz-transition: box-shadow 0.7s ease-in;
    -ms-transition: box-shadow 0.7s ease-in;
    -webkit-transition: box-shadow 0.7s ease-in;
    
    transform: scale(1.2) rotate(-5deg);
    -o-transform: scale(1.2) rotate(-5deg);
    -moz-transform: scale(1.2) rotate(-5deg);
    -ms-transform: scale(1.2) rotate(-5deg);
    -webkit-transform: scale(1.2) rotate(-5deg);
}
.painel li:nth-child(2n):hover {
    transform: scale(1.2) rotate(5deg);
    -o-transform: scale(1.2) rotate(5deg);
    -moz-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    -webkit-transform: scale(1.2) rotate(5deg);
}

.painel figure {
	display:block;
	height: 100%;
	text-align: center;
	padding-top: 10px;
}

.painel figcaption,
.price {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 1.3rem;
}

.price {
	font-weight: 600;
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 2px;	
}

.price {
	
}

.painel figure img {
	width: 80%;
}

.painel button {
    
    display: none;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
    
/* posicionamento */
    float: right;
    margin-right: 10px;
    padding: 10px;
    
/*estilo*/
    background-color: #333;
    border: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(30, 30, 30, .5);
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 1px 0 1px #000;
    
/*animação*/
    transition: 0.3s;
}

.painel button:hover {
    background-color: #393939;
    box-shadow: 1px 0 20px rgba(200, 200, 120, .9);
}

.painel button:after {
    
/*elemento vazio*/
    content: '';
    display: block;
    height: 0;
    width: 0;
    
/*triangulo*/
    border-top: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
/*posicionamento*/
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    
/*animação*/
    transition: 0.3s;
}

.painel button:hover:after {
    border-top-color: #393939;
}

.painel-compacto li:nth-child(n+7) {
    display: none;
}

.painel-compacto button {
    display: block;
}

.novidades{
    width: 100%;
    background-color: #fff;
    background: linear-gradient(#fff, #FBE0D4);
    -o- background: linear-gradient(#fff, #FBE0D4);
    -ms- background: linear-gradient(#fff, #FBE0D4);
    -moz- background: linear-gradient(#fff, #FBE0D4);
    -webkit- background: linear-gradient(#fff, #FBE0D4);
}

.mais-vendidos{
    width: 100%;
    background-color: #FBE0D4;
    background: linear-gradient(#FBE0D4, #fff);
    -o-background: linear-gradient(#FBE0D4, #fff);
    -ms- background: linear-gradient(#FBE0D4, #fff);
    -moz- background: linear-gradient(#FBE0D4, #fff);
    -webkit- background: linear-gradient(#FBE0D4, #fff);
}

/*-------------------------------------------------
___________________________________________________
    fim do painel de novidades e mais vendidos
---------------------------------------------------
-------------------------------------------------*/


/*-------------------------------------
        estilização do rodapé
-------------------------------------*/

footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
}

footer .grid {
    position: relative;
    padding: 20px 0;
}

.social {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -16px;
}

.social a {
    /*tamanho da imagem*/
    height: 32px;
    width: 32px;
    
    /*image replacement*/
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="plus"] {
    background-image: url(../img/googleplus.png);
}

.social li {
    float: left;
    margin-left: 25px;
}

/*--------------------------------------
              fim do rodapé
---------------------------------------*/


.hamburguer {
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -9px;
	width: 24px;
}

.hamburguer_item {
	width: 100%;
	height: 3px;
	background:  #BBA79E;
	margin-bottom: 3px;
}

.logo_mobile {
	display: table;
	margin: 0 auto;
	padding: 15px 0;
}

.logo_mobile-link {display: block; width: 150px;}
.logo_mobile-link img {max-width: 100%}

.nav_mobile_col .logo_mobile {
	margin: 6px auto;
}

.nav_mobile_wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	overflow: hidden;
	transform: translate(-100%);
	-moz-transform: translate(-100%);
	-webkit-transform: translate(-100%);
	transition: transform .5s ease;
	-moz-transition: transform .5s ease;
	-webkit-transition: transform .5s ease;
}

.nav_mobile_wrapper.active{ transform: translate(0); -moz-transform: translate(0); -webkit-transform: translate(0);}

.nav_mobile_col {
	position: relative;
	width: 100%;
	background: #fff;
	height: 100%;
	float: left;
	overflow: auto;
}

.menu_close {
	background: url(../img/close.png);
	width: 32px;
	height: 32px;
	line-height: 66px;
	text-align: center;
	color: #fff;
	font-size: 35px;
	font-family: 'Hind', sans-serif;
	position: absolute;
	top: 30px;
	right: 24px;
}

.borda-divisao {
	width: 100%;
	height: 3px;
	background: #BBA79E;
}

.header_mobile .header_menu {margin-top: 25px; width: 100%;}
